@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-color-obsidian: hsl(258, 88%, 66%);
}

code {
  display: none;
}

body,
html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

a {
  color: var(--main-color-obsidian);
}

ul,
ol li {
  list-style: none;
}
